<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{>header}}
		<p>{{screamIt message}}</p>
		<p>
			<a href="https://github.com/rupali186" target="_blank">visit portfolio</a>
		</p>
		{{>footer}}
	</body>
</html>